<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">

    <!-- Medium Style Editor -->

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Custom CSS -->

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Dancing+Script:wght@700&family=Montaga&display=swap" rel="stylesheet"> 

    <!-- Fonts Awesome -->
    <script src="https://kit.fontawesome.com/b36f7fa918.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-static-top techfont">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand bigbrand" href="{%url 'post_list' %}">My Blog</a></li>
          <li class="nav-item my_layout"><a class="nav-link" href="{% url 'about' %}">About</a></li>
          <li class="nav-item my_layout"><a class="nav-link" href="https://github.com/mittalanuj2409">GitHub</a></li>
          <li class="nav-item my_layout"><a class="nav-link" href="https://www.linkedin.com/in/anuj-mittal-8227b6141">Linkedin</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li class="nav-item my_layout"><a class="nav-link" href="{% url 'post_new' %}">New post</a></li>
            <li class="nav-item my_layout"><a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a></li>
            <li class="nav-item my_layout"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            <li class="nav-item my_layout"><a>Welcome: {{user.username}}</a></li>
          {% else %}
            <li><a class="nav navbar-right" href="{% url 'login' %}"><span><i class="fas fa-user"></i></span></a></li>

          {% endif %}

        </ul>

      </div>

    </nav>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
            {% block content %}
            {% endblock %}
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
